/****************
GENERAL
****************/

.tlruler,
.nav-item button,
.custbtn,
.btn {
  cursor: pointer;
}

.tlruler,
.custbtn {
  width: 30px;
  height: 30px;
  margin: 5px;
  padding: 0;
  color: #fff;
  background-color: #868e96;
  border: 1px solid #868e96;
  border-radius: 0.25rem;
  transition: all 0.15s ease-in-out;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  font-size: 1rem;
  line-height: 1.25;
}

.tlruler:hover,
.custbtnsel,
.custbtn:hover {
  color: #fff;
  background-color: #727b84;
  border-color: #6c757d;
}

.tlruler:focus,
.custbtn:focus {
  box-shadow: 0 0 0 3px rgba(134,142,150,.5);
}



/****************
TOOLS
****************/

#toolbar {
  @include mobile {
    position: absolute;
    top: -49px;
    left: 16px;
    width: 60px;
    z-index: 1031;
  }
  @include tablet {
    top: 5px;
    left: 5px;
    z-index: 900;
  }
}

#dropdownMenu {
  @include mobile {
    width: 50px;
    height: 40px;
  }
  @include tablet {
    border: none !important;
  }
}

#dropdownMenu::after {
  display: none !important;
}



/****************
RULER
****************/

#dropdown-toggle,
.tlruler {
  color: #fff;
}

#dropdown-toggle,
.tlruler:hover {
  color: #d9b310;
}

.toolbtn {
  margin-top: 5px;
}



/****************
DRAW
****************/

.markauto {
  width: auto;
  height: 32px;
  padding: 0 10px;
}

.markauto:before {
  margin-right: 5px;
}
