/****************
NAV
****************/

.amdisclaimer {
  @include mobile {
    display: inline-block;
    width: 100%;
    margin: 13px auto 0;
    font-size: 1rem;
    color: #fff;
  }
  @include desktop {
    margin: 0;
    width: 200px;
    font-size: .8rem;
  }
  @include large {
    width: 480px;
  }
  p {
    margin-bottom: 10px;
  }
}

#customerlogo {
  margin-right: 2rem !important;
}

.helpamdisclaimer {
  color: #000;
}

.modal-lg {
  @include desktop {
    max-width: 900px;
  }
}

.psahead {
  justify-content: flex-start;
  height: auto;
}
