/****************
NAV
****************/

.navbar,
#dropdownMenu {
    background: #000;
}

.fa-bars {
  vertical-align: middle;
  margin-top: 4px;
  color: #fff;
}

.fa-bars:hover {
  color: #d9b310;
}

.navbar-nav .nav-item .nav-link {
  color: #d9b310;
  background: none;
  border: none;
}

.navbar-nav .nav-item .nav-link:hover,
.navbar-nav .nav-item .nav-link:focus {
  color: #fff;
}

.navbar-toggler {
  border-color: #d9b310;
}

#dropdownMenu {
  border: 1px solid #d9b310;
}



/****************
MODALS
****************/

.modal-header {
  background: #000;
  color: #d9b310;
}

.close span {
  color: #d9b310;
}



/****************
BTN
****************/

.btn,
.custbtn {
  background: #000;
  color: #fff;
}


.custbtnsel,
.btn:hover,
.btn:focus,
.custbtn:hover,
.custbtn:focus {
  background: #000;
  color: #d9b310;
}



/****************
FORM
****************/

.error {
  color: red;
}



/****************
FOOTER
****************/

footer {
  background: #000;
  color: #fff;
}



/****************
OL 4
****************/

.ol-rotate-reset,
.ol-scale-line {
  background: #1d2731;
  color: #fff;
}

.ol-scale-line-inner {
  border: 1px solid #fff;
  border-top: 0;
  color: #fff !important;
}

.ol-overviewmap-box {
  border: 2px solid #1d2731;
}



/****************
DISABLE BUTTONS
****************/

button:disabled,
button[disabled] {
  background: grey;
}



@media (min-width: 768px) {

  /****************
  NAV
  ****************/

  .navbar {
    background: #1d2731;
  }

  .navbar-nav .nav-item .nav-link {
    color: #d9b310;
  }

  .navbar-nav .nav-item .nav-link:hover,
  .navbar-nav .nav-item .nav-link:focus {
    color: #fff;
  }

  .navbar-toggler {
    border-color: #d9b310;
  }

  .fa-bars {
    color: #d9b310;
  }

  .fa-bars:hover {
    color: #fff;
  }


  #dropdownMenu {
    border: 1px solid #d9b310;
  }



  /****************
  MODALS
  ****************/

  .modal-header {
    background: #1d2731;
    color: #d9b310;
  }

  .close span {
    color: #d9b310;
  }



  /****************
  BTN
  ****************/

  #dropdownMenu,
  .tlruler,
  .tlruler:hover,
  .btn,
  .custbtn {
    background: #0b3c5d;
    color: #fff;
  }

  #dropdownMenu:hover,
  #dropdownMenu:focus,
  .custbtnsel,
  .tlruler:hover,
  .btn:hover,
  .btn:focus,
  .custbtn:hover,
  .custbtn:focus {
    background: #328cc1;
    color: #d9b310;
  }



  /****************
  FOOTER
  ****************/

  footer {
    background: #1d2731;
    color: #fff;
  }
}

/* end media query */
