/****************
NAV
****************/

.navbar {
  background: #1d2731;
}

#dropdownMenu {
  border: 1px solid #d9b310;
}

.fa-bars {
  vertical-align: middle;
  margin-top: 4px;
  color: #d9b310;
}

.fa-bars:hover {
  color: #fff;
}

.navbar-nav .nav-item .nav-link {
  color: #d9b310;
  background: none;
  border: none;
}

.navbar-nav .nav-item .nav-link:hover,
.navbar-nav .nav-item .nav-link:focus {
  color: #fff;
}

.navbar-toggler {
  border-color: #d9b310;
}

#dropdownMenu {
  border: 1px solid #d9b310;
}



/****************
MODALS
****************/

.modal-header {
  background: #1d2731;
  color: #d9b310;
}

.close span {
  color: #d9b310;
}



/****************
BTN
****************/

#dropdownMenu,
.tlruler,
.tlruler:hover,
.btn,
.custbtn {
  background: #0b3c5d;
  color: #fff;
}

#dropdownMenu:hover,
#dropdownMenu:focus,
.custbtnsel,
.tlruler:hover,
.btn:hover,
.btn:focus,
.custbtn:hover,
.custbtn:focus {
  background: #328cc1;
  color: #d9b310;
}



/****************
FORM
****************/

.error {
  color: red;
}



/****************
FOOTER
****************/

footer {
  background: #1d2731;
  color: #fff;
}



/****************
DISABLE BUTTONS
****************/

button:disabled,
button[disabled] {
  background: grey;
}
