/***************
CONTAINER
***************/

#map {
  width: 100%;
  height: 100vh;
}

.print {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  background: rgba(0, 0, 0, .8);
}

#PrintMap {
  & {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 600px;
    height: 900px;
    border: 2px solid #000;
  }
  .ol-zoom,
  .ol-rotate,
  .ol-attribution {
    display: none !important;
  }
}

.titlep {
  margin: 0;
  padding: 5px;
  color: rgb(0,60,136);
}

.coord {
  & {
    display: none;
    width: 260px;
    height: 25px;
    position: absolute;
    bottom: .5em;
    right: .5em;
    z-index: 9;
    padding-left: 10px !important;
    color: rgb(0,60,136);
  }
  @include tablet {
    display: inline-block;
  }
  p {
    display: inline-block;
    margin: 0;
    margin-top: 2px;
  }
  #coord {
    & {
      float: left;
      margin-left: 80px;
      background: none;
    }
    .ol-mouse-position {
      background: none;
    }
  }
}
