
.ol-Marker button {
  float: left;
  margin-left: 2px;
}

.plotMarkers {
  width: 100%;
  margin-bottom: 2px;
  background: #fff;
}

#close {
  position: absolute;
  z-index: 10;
  top: 0.5em;
  right: 0.5em;
  padding: 6px;
  background-color: rgba(0,60,136,0.5);
  color: #fff;
  border: none;
  border-radius: 4px;
}
